---
import type { Article } from "../library/microcms";
import {formatDate} from "../library/datetime";

interface Props {
	article: Article
}

const {article} = Astro.props;
---

<div class="my-10 mx-auto w-10/12 max-w-3xl">
    <h1 class="text-3xl font-bold">{article.title}</h1>
    <p class="text-xs opacity-70 mt-3">
        公開: {formatDate(article.publishedAt)} 
        改訂: {formatDate(article.revisedAt)}
    </p>
    <div
        class="mt-5 bg-base-100 rounded-lg p-5 prose prose-sm max-w-none"
        set:html={article.content}
    ></div>
</div>